.leaflet-container {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  overflow: hidden;
}
.leaflet-popup-content-wrapper {
  padding: 10px;
  text-align: center;
  background-color: yellow !important;
  }

.app-header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.full-map-view .leaflet-container {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  overflow: hidden;
}

.button {
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 10px 20px;
  border: none;
}

.button:hover,
.restart-button:hover {
  transform: scale(1.05);
}

.score {
  text-align: left;
  font-weight: bold;
}

.airport-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.airport-question-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.map-container {
  margin-top: 20px;
}

.button-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: #f2cc0c;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid #ffec85;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #b5a968;
  transform: scale(1.05);
}
.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.main-menu h1 {
  margin-top: 50px;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.main-menu button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.main-menu .main-quiz {
  background-color: #3498db;
  width:524px;
  height:80px;
  color: #fff;
}

.side-quizzes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-menu .side-quiz:nth-child(1) {
  background-color: #27ae60;
  color: #fff;
}

.main-menu .side-quiz:nth-child(2) {
  background-color: #f39c12;
  color: #fff;
}

.main-menu .side-quiz:nth-child(3) {
  background-color: #e74c3c;
  color: #fff;
}

.main-menu .map-view {
  background-color: #bd33e0;
  color: #fff;
  height: 122px;
  width:524px;
  margin-bottom:auto
}

.aerospace-quiz {
  margin: 20px;
}

.avionics-quiz {
  margin: 20px;
}
.aviation-quiz {
  margin: 20px;
}

.main-menu button:hover {
  background-color: #0182d8;
  color: #fff;
}

.quit-button {
  padding: 7px 14px;
  background-color: #e74c3c; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 18px;
}

.quit-button:hover {
  background-color: #c0392b; 
}

.side-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.question-container {
  margin: 10px 0;
  text-align: center; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden; 
  transition: transform 0.2s ease-in-out;
  max-width: 300px; 
}

.custom-popup-style .leaflet-popup-content-wrapper {
  border-radius: 20px;
  background-color: #27ae60;
}